<h2>@ViewBag.Title</h2>

<form method="post">
    <label>Your Name:</label>
    <br />
    <input style="font-size: 18px;" />
    <br />
    <label>Email: </label>
    <br />
    <input type="email" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="3"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>